html,
body
{
    height: 100%;
}
.wrap
{
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
.wrap > .container
{
    width: 95%;
    padding: 70px 15px 20px;
    position: relative;
}
.footer
{
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.jumbotron
{
    text-align: center;
    background-color: transparent;
}
    .jumbotron .btn
    {
        font-size: 21px;
        padding: 14px 24px;
    }
.not-set
{
    color: #c55;
    font-style: italic;
}
/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after
{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}
a.asc:after
{
    content: /*"\e113"*/ "\e151";
}
a.desc:after
{
    content: /*"\e114"*/ "\e152";
}
.sort-numerical a.asc:after
{
    content: "\e153";
}
.sort-numerical a.desc:after
{
    content: "\e154";
}
.sort-ordinal a.asc:after
{
    content: "\e155";
}
.sort-ordinal a.desc:after
{
    content: "\e156";
}
.grid-view th
{
    white-space: nowrap;
}
.hint-block
{
    display: block;
    margin-top: 5px;
    color: #999;
}
.error-summary
{
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout
{
    padding: 15px;
    border: none;
}

@media(max-width:767px)
{
    .nav li > form > button.logout
    {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover
{
    text-decoration: none;
}

.nav > li > form > button.logout:focus
{
    outline: none;
}

/*My*/
.banner
{
}
    .banner > img
    {
        width: 100%;
    }
.hidden
{
    display: none;
}
#overlay
{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    text-align: center;
    z-index: 99;
}
.navbar-inverse .navbar-nav > li > a
{
    padding-left: 5px;
    padding-right: 5px;
}
.view-all
{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}
.notifications
{
    position: relative;
}
    .notifications #notification-button
    {
        cursor: pointer;
    }
    .notifications.has-notifications #notification-button
    {
        color: red;
        opacity: 0.8;
    }
    .notifications.has-notifications #notification-button:hover
    {
        opacity: 1;
    }
    .notifications .notifications-listing
    {
        position: absolute;
        top: 102%;
        min-width: 300px;
        display: none;
        border: 1px solid #3c3c3c;
        border-top: 0;
        background-color: #ffffff;
    }
        .notifications-listing > ul
        {
        }
            .notifications-listing > ul > li
            {
                padding: 10px;
                border-bottom: 1px solid #3c3c3c
            }
            .notifications-listing > ul > li.readed
            {
                background-color: #c9cfcf;
            }
            .notifications-listing > ul > li.unreaded
            {
                background-color: #ffffff;
            }
            .notifications-listing > ul > li:last-child
            {
                margin-bottom: 0;
                border-bottom: unset;
            }
                .notifications-listing > ul > li > a
                {
                    display: block;
                    text-decoration: none;
                }
                    .notifications-listing .notification-name
                    {
                        color: black;
                        font-weight: bold;
                    }
                    .notifications-listing .notification-title
                    {
                        color: black;
                    }
        .notifications-listing .view-all-notifications
        {
            display: block;
            text-align: center;
        }
/*------------------------------------------------Fonts---------------------------------------------------------------*/
.form-group,
.event,
.container,
.listing,
.listing .dates
{
    font-size: 0;
}
.form-group > div,
.event > div,
.container > div,
.container > nav,
.listing > li,
.listing .dates > span
{
    font-size: 14px;
}
.listing .title
{
    font-size: 18px;
}
/*------------------------------------------------Lists---------------------------------------------------------------*/
ul
{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
    .event > div,
    .item > div
    {
        border-bottom: 1px solid #b1b0b0;
        border-top: 1px solid #b1b0b0;
    }
    .event > div:first-child,
    .event > div:last-child,
    .item > div:first-child,
    .item > div:last-child
    {
        border: none;
    }
/*------------------------------------------------Forms---------------------------------------------------------------*/
label
{
    margin: 0;
    padding: 0;
}
input[type="text"],
input[type="password"],
select
{
    margin: 0;
    width: 100%;
}
textarea
{
    width: 100%;
}
.form-group
{
}
    .form-group > div
    {
        display: inline-block;
        vertical-align: middle;
        min-width: 200px;
    }
    .form-group > div:first-child
    {
        margin-right: 20px;
    }
/*------------------------------------------------Sidebar--------------------------------------------------------------*/
.content.with-sidebar,
#sidebar
{
    width: 20%;
    display: inline-block;
    vertical-align: top;
    z-index: 1;
}
.content.with-sidebar
{
    width: 79%;
    margin-left: 1%;
}
    #sidebar li
    {
        border-top: 1px solid #eeeeee;
    }
    #sidebar li:hover
    {
        background-color: #e2e2e2;
    }
        #sidebar a
        {
            display: inline-block;
            padding: 10px;
            text-decoration: none;
        }
/*------------------------------------------------Listings------------------------------------------------------------*/
.listing
{
    font-size: 0;
}
    .listing > li
    {
        padding: 5px;
        border: 1px solid black;
        margin-bottom: 10px;
        display: inline-block;
        vertical-align: top;
        width: 32%;
        margin-left: 2%;
        overflow: hidden;
    }
        .listing > li:nth-child( 3n + 1),
        .listing > li:first-child
        {
            margin-left: 0;
        }
            .listing > li > div,
            .listing > li .description > div
            {
                margin-bottom: 10px;
            }
            .listing li > div:last-child
            {
                text-align: center;
            }
            .listing .title
            {
                font-weight: bold;
            }
            .listing .dates > span
            {
                display: inline-block;
                width: 50%;
            }
            .listing .dates > span:last-child
            {
                text-align: right;
            }
            .image-preview
            {
                text-align: center;
            }
                .image-preview img
                {
                    height: 200px;
                }
/*------------------------------------------------Contract template----------------------------------------------------*/
.contract-template-form
{
}
    .textarea
    {
        width: 100%;
        max-height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
    }
        .textarea > textarea
        {
            height: 400px;
        }
.signing-box
{
    border: 1px solid #b6b6b6;
    position: relative;
}
    .signing-box .clear-signing-box
    {
        display: none;
        position: absolute;
        top: 5px;
        right: 5px;
    }
        .signing-box .clear-signing-box > img
        {
            width: 20px;
            height: 20px;
        }
.icon-view
{
    background: url( "../assets/images/icon_view.png" );
}
.icon-delete
{
    background: url( "../assets/images/icon_delete.png" );
}
.icon-edit
{
    background: url( "../assets/images/icon_edit.png" );
}
.icon-view,
.icon-edit,
.icon-delete
{
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
}
#tabs
{
    margin-bottom: 15px;
}
#tabs .table a,
#tabs .form-group a.btn
{
    color: #ffffff;
}
.sidebar-button
{
    display: none;
    position: absolute;
    top: 55px;
    left: 5px;
    z-index: 2;
}
    .sidebar-button > img
    {
        width: 32px;
    }
.add-student-to-thesis
{
    margin-top: 5px;
}